.container {
    height: 45vh;
    background: #202734;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.text1{
    color: #fff;
}
.text2{
    color: #b3b3b3;
    font-size: 0.9rem;
}